* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  overflow: hidden;
}

#lead {
  width: 95%;
  min-width: 300px;
}

.hexanote {
  text-align: center;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hexanote li {
  display: inline-block;
  margin-right: 50px;
  font-family: Open Sans, Arial;
  font-weight: 300;
  font-size: 3em;
  color: #fff;
  opacity: 1;
  transition: all 2.5s ease;
}

.hexanote li:last-child {
  margin-right: 0;
}

.hexanote.hidden li {
  opacity: 0;
}

.hexanote.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.hexanote.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.hexanote.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.hexanote.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.hexanote.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.hexanote.hidden li:nth-child(6) { transform: translateX(20px) translateY(-40px); }
.hexanote.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.hexanote.hidden li:nth-child(8) { transform: translateX(60px) translateY(-200px); }

.subject-list {
  width: 100%;
  min-width: 300px;
  text-align: center;
  list-style: none;
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 5%;
  margin-bottom: 2%;
  transform: translateX(-50%);
  opacity: 0;
}

.subject-list li {
  display: inline-block;
  margin-right: 20px;
  font-family: Open Sans, Arial;
  font-weight: 700;
  font-size: 1em;
  color: #fff;
  opacity: 1;
  transition: all 2.5s ease;
  text-transform: uppercase;
  cursor: pointer;
}

.subject-list li:nth-child(1) { color: #1abc9c }
.subject-list li:nth-child(2) { color: #f1c40f }
.subject-list li:nth-child(3) { color: #e74c3c }
.subject-list li:nth-child(4) { color: #2980b9 }
.subject-list li:nth-child(5) { color: #9b59b6 }
.subject-list li:nth-child(6) { color: #95a5a6 }

.hexagon {
  display: inline-block;
  margin: 0 auto;
  margin-top: 5%;
  max-width: 325px;
  width: 40%;
  min-width: 320px;
  height: auto;
  opacity: 0;
  fill: #fff;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}

.hexagon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.polygon {
  fill: #000;
  stroke: #fff;
  transition: stroke 1s;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }